## Scrap Contents for the required URLs
City,country,population,coordination

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [3]:
url_wiki = "https://en.wikipedia.org/wiki/List_of_European_cities_by_population_within_city_limits"
headers = {'Accept-Language': 'en-US,en;q=0.8'}
response = requests.get(url_wiki, headers = headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, "html.parser")

In [4]:
city_dict={
    "city":[],
    "country":[],
    "population":[],
    "coordination":[]
}

In [5]:
table_rows = "table.wikitable tr"
#print(soup.select(table_rows))
#mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(4)
for i, row in enumerate(soup.select(table_rows)):
    if (i == 0):
        continue
    #cities
    #mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(1) > td:nth-child(2) > a
    city_dict["city"].append(row.select("td")[1].select("a")[0].get_text())

    #counties
    #print(row.select(" td")[2].select("a")[0].get_text())
    city_dict["country"].append(row.select("td")[2].select("a")[0].get_text())
    
    #population
    #mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(1) > td:nth-child(4)
    #print(row.select(" td")[3].select("span")[0].get_text())
    city_dict["population"].append(row.select("td")[3].select("span")[0].get_text())
    
    #coordination
    #mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(1) > td:nth-child(8) > span > span > a > span.geo-default > span > span.geo-dec
    #print(row.select(" td")[7].select("span.geo-dec")[0].get_text())
    
    city_dict["coordination"].append(row.select("td")[7].select("span.geo-dec")[0].get_text())

In [6]:
len(city_dict["city"]) == len(city_dict["country"]) == len(city_dict["population"]) == len(city_dict["coordination"])

True

In [17]:
df=pd.DataFrame(city_dict)

### Create city_id

In [18]:
df = df.reset_index()

In [19]:
df = df.rename(columns={"index": "city_id"})

In [20]:
df

,city_id,city,country,population,coordination
0,0,Istanbul,Turkey,"15,840,900",41.013611°N 28.955°E
1,1,Moscow,Russia,"12,632,409",55.75°N 37.616667°E
2,2,London,United Kingdom,"8,799,800",51.507222°N 0.1275°W
3,3,Saint Petersburg,Russia,"5,376,672",59.95°N 30.3°E
4,4,Berlin,Germany,"3,677,472",52.516667°N 13.383333°E
5,5,Madrid,Spain,"3,305,408",40.383333°N 3.716667°W
6,6,Kyiv,Ukraine,"2,962,180",50.45°N 30.523333°E
7,7,Rome,Italy,"2,761,632",41.9°N 12.5°E
8,8,Baku,Azerbaijan,"2,303,100",40.4°N 49.9°E
9,9,Bucharest,Romania,"2,161,347",44.4325°N 26.103889°E
10,10,Paris,France,"2,139,907",48.8567°N 2.3508°E
11,11,Minsk,Belarus,"1,996,553",53.9°N 27.566667°E
12,12,Vienna,Austria,"1,962,779",48.2°N 16.366667°E
13,13,Warsaw,Poland,"1,863,056",52.233333°N 21.016667°E
14,14,Hamburg,Germany,"1,853,935",53.565278°N 10.001389°E
15,15,Budapest,Hungary,"1,706,851",47.4925°N 19.051389°E
16,16,Belgrade,Serbia,"1,688,667",44.816667°N 20.466667°E
17,17,Barcelona,Spain,"1,636,732",41.383333°N 2.183333°E
18,18,Munich,Germany,"1,487,708",48.133333°N 11.566667°E
19,19,Kharkiv,Ukraine,"1,414,319",50.004444°N 36.231389°E
20,20,Milan,Italy,"1,371,498",45.466667°N 9.183333°E
21,21,Kazan,Russia,"1,308,660",55.790278°N 49.134722°E
22,22,Sofia,Bulgaria,"1,307,439",42.7°N 23.33°E
23,23,Prague,Czech Republic,"1,275,406",50.083333°N 14.416667°E
24,24,Nizhny Novgorod,Russia,"1,228,199",56.326944°N 44.0075°E
25,25,Tbilisi,Georgia,"1,201,769",41.7166°N 44.7833°E
26,26,Samara,Russia,"1,187,771",53.202778°N 50.140833°E
27,27,Ufa,Russia,"1,144,809",54.75°N 55.966667°E
28,28,Birmingham,United Kingdom,"1,144,900",52.483056°N 1.893611°W
29,29,Rostov-on-Don,Russia,"1,142,162",47.233333°N 39.7°E
30,30,Krasnodar,Russia,"1,099,344",45.033°N 38.967°E
31,31,Yerevan,Armenia,"1,092,800",40.181°N 44.51°E
32,32,Cologne,Germany,"1,073,096",50.936389°N 6.952778°E
33,33,Voronezh,Russia,"1,057,681",51.671667°N 39.210556°E
34,34,Perm,Russia,"1,034,002",58°N 56.316667°E
35,35,Volgograd,Russia,"1,028,036",48.7°N 44.516667°E

## Export Final df

In [21]:
df.to_pickle("cities1.pkl")